{% extends 'base.html' %} {% load static %} {% block title %} Company Images {% endblock %} {% block styles %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<style>
    .image {
        border: 3px solid rgb(8, 51, 116);
        border-radius: 5px;
        padding: 5px;
        background-color: azure;
    }
    
    .image>img {
        height: 250px;
        width: 100%;
    }
</style>
{% endblock %}
<!-- Content Block -->
{% block content %}
<section class="bg-light-gray">
    <div class="container">
        <h3 class="heading">Company Images</h3>
        <div class="row featured align-items-stretch">
            {% for image in images %}
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="box-image-text bg-visible full-height">
                    <div class="top">
                        <a href="#">
                            <div class="image">
                                <img src="{{ image.company_image.url }}" alt="company image" class="img-fluid">
                            </div>

                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}