{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>{{user.first_name}} {{user.last_name}}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <!-- <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/resume.css' %}" media="all" />
    <style>
        .yui-u table {
            float: left;
        }
        
        .yui-u tr>th {
            font-weight: bolder;
            font-size: 16px;
        }
        /* .yui-u tr>td {
            padding: 0 1.5rem;
        } */
        
        table,
        th,
        td {
            /* border: 1px solid rgb(158, 216, 255); */
            padding: 5px;
        }
        
        th {
            text-transform: uppercase;
            border: none;
        }
        
        img {
            height: 150px;
            width: 150px;
            border: 3px solid rgb(21, 56, 56);
            border-radius: 50%;
            /* margin-left: 450px; */
        }
        
        table {
            width: 100%;
        }
        
        .first h2 {
            font-style: italic;
            font-weight: bolder;
            color: #a808b6;
        }
    </style>

</head>

<body>

    <div id="doc2" class="yui-t7">
        <div id="inner">
            <table id='hd'>
                <td>
                    <img src="{{user.userprofile.image.path}}" alt="">

                </td>
                <td>
                    <h1 style="color: #000038; font-size: 26px; font-weight: bolder; font-family: 'Times New Roman', Times, serif;">{{user.first_name}} {{user.last_name}}</h1>
                    <h3><i class='fa fa-envelop'></i><a href="#">Email: {{user.email}}</a></h3>
                    <p>{{user.userprofile.address}}</p>
                    <h3><a id="pdf" href="{% url 'accounts:resumedownload' user.id %}">Download PDF</a></h3>
                </td>

            </table>
            <!-- <div id="hd">
                <div class="yui-gc">
                    <div class="yui-u first">
                        <h1 style="color: rgb(26, 29, 29); font-size: 26px; font-family: 'Times New Roman', Times, serif;">{{user.first_name}} {{user.last_name}}</h1>
                        <h3><a href="#">Email: {{user.email}}</a></h3>
                        <h3></h3>
                        <p>{{user.userprofile.address}}</p>
                    </div>

                    <div class="yui-u">
                        <div class="contact-info">
                            <img src="{{user.userprofile.image.url}}" alt="">
                            <h3><a id="pdf" href="{% url 'accounts:resumedownload' user.id %}">Download PDF</a></h3>

                        </div>
                    </div>
                </div>
            </div> -->
            <!--// hd -->

            <div id="bd">
                <div id="yui-main">
                    <div class="yui-b">
                        <div class="yui-gf">
                            <div class="yui-u first">
                                <h2>Career Objective</h2>
                            </div>
                            <div class="yui-u">
                                <p class="enlarge">
                                    {{user.userprofile.about}}
                                </p>
                            </div>
                        </div>
                        <div class="yui-gf first data-table">
                            {% if degrees %}
                            <table>
                                <tr>
                                    <th>
                                        <h2>Education</h2>
                                    </th>
                                </tr>
                                <tr>
                                    {% for degree in degrees %}
                                    <div class="job">
                                        <td>
                                            <h2>{{degree.degree}}</h2>
                                            <h3>{{degree.institute_name}}</h3>
                                            <h4>Score: {{degree.cgpa}}</h4>
                                            <h4>Passing Year: {{degree.passing_year|date}}</h4>
                                        </td>

                                    </div>
                                    {% endfor %}
                                </tr>
                            </table>

                            {% endif %} {% if degrees_two %}
                            <table>
                                <tr>
                                    {% for degree in degrees_two %}
                                    <div class="job">

                                        <td>
                                            <h2>{{degree.degree}}</h2>
                                            <h3>{{degree.institute_name}}</h3>
                                            <h4>Score: {{degree.cgpa}}</h4>
                                            <h4>Passing Year: {{degree.passing_year|date}}</h4>
                                        </td>
                                    </div>
                                    {% endfor %} {% else %}
                                    <td></td>


                                </tr>
                            </table>
                            {% endif %}
                        </div>
                        <br>
                        <div class="yui-gf first  data-table">
                            {% if skills %}
                            <table>
                                <tr>
                                    <th>
                                        <h2>Skill</h2>
                                    </th>
                                </tr>
                                <tr>
                                    {% for skill in skills %}
                                    <div class="job">
                                        <td>
                                            <h2>{{skill.name}}</h2>
                                            <p>{{skill.details}}</p>
                                        </td>
                                    </div>
                                    {% endfor %}
                                </tr>
                            </table>
                            {% endif %}
                            <!--  -->
                            {% if skills_two %}
                            <table>
                                <tr>
                                    {% for skill in skills_two %}
                                    <div class="job">
                                        <td>
                                            <h2>{{skill.name}}</h2>
                                            <p>{{skill.details}}</p>
                                        </td>
                                    </div>
                                    {% endfor %}
                                </tr>
                            </table>
                            {% endif %}
                        </div>
                        <br>
                        <!--  -->
                        {% if experiences %}
                        <div class="yui-gf first  data-table">
                            <table>
                                <tr>
                                    <th>
                                        <h2>Experience</h2>
                                    </th>
                                </tr>
                                <tr>
                                    {% for exp in experiences %}
                                    <div class="job">
                                        <td>
                                            <h2>{{exp.company_name}}</h2>
                                            <h3>{{exp.position}}</h3>
                                            <h4>{{exp.from_date}} - {{exp.to_date}}</h4>
                                        </td>
                                    </div>
                                    {% endfor %}
                                </tr>
                            </table>

                            {% endif %}
                            <!--  -->
                            {% if experiences_two %}
                            <table>
                                <tr>
                                    {% for exp in experiences_two %}
                                    <div class="job">
                                        <td>
                                            <h2>{{exp.company_name}}</h2>
                                            <h3>{{exp.position}}</h3>
                                            <h4>{{exp.from_date}} - {{exp.to_date}}</h4>
                                        </td>
                                    </div>
                                    {% endfor %} {% else %}
                                    <td></td>
                                </tr>
                            </table>

                        </div>
                        {% endif %}
                        <br>
                        <!--  -->
                        {% if projects %}
                        <div class="yui-gf first  data-table">
                            <table>
                                <tr>
                                    <th>
                                        <h2>Projects</h2>
                                    </th>
                                </tr>
                                <tr>
                                    {% for pro in projects %}
                                    <div class="job">
                                        <td>
                                            <h2>{{pro.proj_name}}</h2>
                                            <p>{{pro.details}}</p>
                                        </td>
                                    </div>
                                    {% endfor %}
                                </tr>
                            </table>

                            {% endif %} {% if projects_two %}
                            <table>
                                <tr>
                                    {% for pro in projects %}
                                    <div class="job">
                                        <td>
                                            <h2>{{pro.proj_name}}</h2>
                                            <p>{{pro.details}}</p>
                                        </td>
                                    </div>
                                    {% endfor %} {% else %}
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        {% endif %}
                        <br>
                        <!--  -->
                        {% if courses %}
                        <div class="yui-gf first  data-table">
                            <table>
                                <tr>
                                    <th>
                                        <h2>Courses</h2>
                                    </th>
                                </tr>
                                <tr>
                                    {% for cor in courses %}
                                    <div class="job">
                                        <td>
                                            <h2>{{cor.course_name}}</h2>
                                            <h3>{{cor.institute_name}}</h3>
                                            <h4>Duration: {{cor.duration}} months</h4>
                                            <p>{{cor.details}}</p>
                                        </td>
                                    </div>
                                    {% endfor %}
                                </tr>
                            </table>

                            {% endif %}
                            <!--  -->
                            {% if courses_two %}
                            <table>
                                <tr>
                                    {% for cor in courses %}
                                    <div class="job">
                                        <td>
                                            <h2>{{cor.course_name}}</h2>
                                            <h3>{{cor.institute_name}}</h3>
                                            <h4>Duration: {{cor.duration}}</h4>
                                            <p>{{cor.details}}</p>
                                        </td>
                                    </div>
                                    {% endfor %} {% else %}
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        {% endif %}

                    </div>
                    <!--// .yui-b -->
                </div>
                <!--// yui-main -->
            </div>
            <!--// bd -->
            <!--// footer -->
        </div>
        <!-- // inner -->
    </div>
    <!--// doc -->
</body>

</html>