{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>

    <title>{{user.first_name}} {{user.last_name}}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/resume.css' %}" media="all" />
    <style>
        .yui-u table {
            float: left;
        }
        
        .yui-u tr>th {
            font-weight: bolder;
            font-size: 16px;
        }
        /* .yui-u tr>td {
            padding: 0 1.5rem;
        } */
    </style>

</head>

<body>

    <div id="doc2" class="yui-t7">
        <div id="inner">
            <div id="hd">
                <div class="yui-gc">
                    <div class="yui-u first">
                        <h1 style="color: rgb(26, 29, 29); font-size: 26px; font-family: 'Times New Roman', Times, serif;">{{user.first_name}} {{user.last_name}}</h1>
                        <h3><a href="#">Email: {{user.email}}</a></h3>
                        <h3></h3>
                        <p>{{user.userprofile.address}}</p>
                    </div>

                    <div class="yui-u">
                        <div class="contact-info">
                            <img src="{{user.userprofile.image.url}}" alt="">
                            <h3><a id="pdf" href="{% url 'accounts:resumedownload' user.id %}">Download PDF</a></h3>

                        </div>
                        <!--// .contact-info -->
                    </div>
                </div>
                <!--// .yui-gc -->
            </div>
            <!--// hd -->

            <div id="bd">
                <div id="yui-main">
                    <div class="yui-b">

                        <div class="yui-gf">
                            <div class="yui-u first">
                                <h2>Profile</h2>
                            </div>
                            <div class="yui-u">
                                <p class="enlarge">
                                    {{user.userprofile.about}}
                                </p>
                            </div>
                        </div>
                        <!--// .yui-gf -->

                        <div class="yui-gf">
                            <div class="yui-u first">
                                <h2>Education</h2>
                            </div>

                            <div class="yui-u">
                                {% for degree in degrees %}
                                <div class="job">
                                    <td>
                                        <h2>{{degree.degree}}</h2>
                                        <h3>{{degree.institute_name}}</h3>
                                        <h4>Score:{{degree.cgpa}}</h4>
                                        <br>
                                        <h3>Passing Year:{{degree.passing_year|date}}</h3>
                                    </td>
                                    <!-- <p>Intrinsicly enable optimal core competencies through corporate relationships. Phosfluorescently implement worldwide vortals and client-focused imperatives. Conveniently initiate virtual paradigms and top-line convergence.
                                    </p> -->
                                </div>
                                {% endfor %}
                                <!-- <table>
                                    <tr>
                                        <th>Education</th>
                                        <th>Experience</th>
                                        <th>Skills</th>
                                    </tr>
                                    <tr>
                                        <td>{% for degree in degrees %}
                                            <h4>DEGREE: <span class="contact">{{degree.degree}}</span></h4>
                                            <h5>SUBJECT: <span class="contact">{{degree.subject}}</span></h5>
                                            <h5>INSTITUTE: <span class="contact">{{degree.institute_name}}</span></h5>
                                            {% endfor %}
                                        </td>
                                        <td>Python,Django, DRF</td>
                                        <td>Windows, Linux</td>
                                    </tr>
                                </table> -->
                                <!-- <div class="talent">
                                    <h2>Web Design</h2>
                                    <p>Assertively exploit wireless initiatives rather than synergistic core competencies. </p>
                                </div>

                                <div class="talent">
                                    <h2>Interface Design</h2>
                                    <p>Credibly streamline mission-critical value with multifunctional functionalities. </p>
                                </div>

                                <div class="talent">
                                    <h2>Project Direction</h2>
                                    <p>Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.</p>
                                </div> -->
                            </div>
                        </div>
                        <!--// .yui-gf -->

                        <!-- <div class="yui-gf">
                            <div class="yui-u first">
                                <h2>Technical</h2>
                            </div>
                            <div class="yui-u">
                                <table>
                                    <tr>
                                        <th>XHTML</th>
                                        <th>CSS</th>
                                        <th>Javascript</th>
                                    </tr>
                                    <tr>
                                        <td>Jquery</td>
                                        <td>PHP</td>
                                        <td>Linux</td>
                                    </tr>
                                </table>

                                <ul class="talent">
                                    <li>XHTML</li>
                                    <li>CSS</li>
                                    <li class="last">Javascript</li>
                                </ul>

                                <ul class="talent">
                                    <li>Jquery</li>
                                    <li>PHP</li>
                                    <li class="last">CVS / Subversion</li>
                                </ul>

                                <ul class="talent">
                                    <li>OS X</li>
                                    <li>Windows XP/Vista</li>
                                    <li class="last">Linux</li>
                                </ul>
                            </div>
                        </div> -->
                        <!--// .yui-gf-->

                        <div class="yui-gf">

                            <div class="yui-u first">
                                <h2>Experience</h2>
                            </div>
                            <!--// .yui-u -->

                            <div class="yui-u">
                                {% for exp in experiences %}
                                <div class="job">
                                    <h2>{{exp.company_name}}</h2>
                                    <h3>{{exp.position}}</h3>
                                    <h4>{{exp.from_date}}-{{exp.to_date}}</h4>
                                    <!-- <p>Intrinsicly enable optimal core competencies through corporate relationships. Phosfluorescently implement worldwide vortals and client-focused imperatives. Conveniently initiate virtual paradigms and top-line convergence.
                                    </p> -->
                                </div>
                                {% endfor %}

                            </div>
                            <!--// .yui-u -->
                        </div>
                        <!--// .yui-gf -->


                        <div class="yui-gf last">
                            <div class="yui-u first">
                                <h2>Education</h2>
                            </div>
                            <div class="yui-u">
                                <h2>Indiana University - Bloomington, Indiana</h2>
                                <h3>Dual Major, Economics and English &mdash; <strong>4.0 GPA</strong> </h3>
                            </div>
                        </div>
                        <!--// .yui-gf -->


                    </div>
                    <!--// .yui-b -->
                </div>
                <!--// yui-main -->
            </div>
            <!--// bd -->

            <div id="ft">
                <p>Jonathan Doe &mdash; <a href="mailto:name@yourdomain.com">name@yourdomain.com</a> &mdash; (313) - 867-5309</p>
            </div>
            <!--// footer -->

        </div>
        <!-- // inner -->


    </div>
    <!--// doc -->


</body>

</html>