 {% extends 'base.html' %} {% load static %}
<!-- title -->
{% block title %} {% if setting.siteTitle %} {{setting.siteTitle}}-About {% else %} My Site-About {% endif %} {% endblock %}
<!-- Mainbody -->
{% block mainbody %}
<div class="contact-main-page mt-60 mb-40 mb-md-40 mb-sm-40 mb-xs-40">
    <!-- about wrapper start -->
    <div class="about-us-wrapper pt-60 pb-40">
        <div class="container">
            <div class="row">
                <!-- About Text Start -->
                <div class="col-lg-6 order-last order-lg-first">
                    <div class="about-text-wrap">
                        <h2><span>Provide Best</span>Product For You</h2>
                        {% if setting.siteAbout %}
                        <div class="single-contact-block">
                            <p>{{setting.siteAbout}}</p>
                        </div>
                        {% else %}
                        <p>About Is Not Updated Yet</p>
                        {% endif %}

                    </div>
                </div>
                <!-- About Text End -->
                <!-- About Image Start -->
                <div class="col-lg-5 col-md-10">
                    {% if setting.siteLogo %}
                    <div class="about-image-wrap">
                        <img class="img-full" src="{{ setting.siteLogo.url }}" alt="SiteLogo" />
                    </div>
                    {% else %}
                    <p>Image Is Not Updated Yet</p>> {% endif %}

                </div>
                <!-- About Image End -->
            </div>
        </div>
    </div>
</div>
<!-- about wrapper end -->
{%endblock%}