/* your styles go here */

.contact-main-page {
    margin-top: 25px;
}

h3.contact-page-title {
    font-size: 32px;
    line-height: 32px;
    color: #363f4d;
    font-weight: 500;
    margin-bottom: 20px;
}

.single-contact-block {
    padding-bottom: 8px;
    margin-bottom: 27px;
    border-bottom: 1px solid #e1e1e1;
}

.single-contact-block>h4 {
    margin-bottom: 23px;
}

.single-contact-block.last-child {
    border-bottom: none;
}

span.required {
    color: #ff0000;
}


/*----------  contact form  ----------*/

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    font-size: 15px;
    line-height: 29px;
    font-weight: 400;
    color: #888888;
    margin-bottom: 20px;
}

.contact-form input {
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    line-height: 50px;
    outline: none;
    border: 1px solid #e0e0e0;
    padding-left: 20px;
}

.contact-form textarea {
    background-color: #ffffff;
    width: 100%;
    outline: none;
    border: 1px solid #e0e0e0;
    padding-left: 20px;
    line-height: 50px;
    height: 200px;
}

.contact-form .li-btn-3 {
    background: #f2f2f2;
    line-height: 12px;
    display: inline-block;
    padding: 16px 30px;
    border-radius: 3px;
    color: #363f4d;
    font-weight: 500;
    font-size: 12px;
    background-color: #242424;
    border: 1px solid #242424;
    color: #ffffff;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.contact-form .li-btn-3:hover {
    background-color: #f0e54b;
    ;
    color: #ffffff;
    background-color: #f0e54b;
    ;
    border-color: #f0e54b;
    ;
}

.contact-page-side-content {
    background-color: #F2F2F2;
    padding: 25px 30px 19px;
}


/*----------------------------------------*/


/* About Us Page */


/*----------------------------------------*/

.about-text-wrap {
    font-size: 16px;
    line-height: 28px;
}

.about-text-wrap h2 {
    color: #292825;
    font-size: 48px;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: -6px;
}

.about-text-wrap h2 span {
    display: block;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 12px;
}

.about-image-wrap {
    position: relative;
    padding-left: 30px;
    padding-top: 30px;
    margin-bottom: 50px;
}

.about-image-wrap::after {
    border: 5px solid #f0e54b;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    z-index: -1;
}

.about-image-wrap .img-full {
    height: 15rem;
    width: 20rem;
}


/*------- end About Page Wrapper --------*/


/* PROFILE CSS */

.fb-profile img.fb-image-lg {
    z-index: 0;
    width: 80em;
    margin-bottom: 10px;
    height: 35em;
}

.fb-image-profile {
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%;
    padding: 5px;
    background-color: aliceblue;
    border: 1px solid white;
    border-radius: 4px;
}

.profile-content {
    text-align: left;
    border: none !important;
}

.profile-content h5 {
    color: #007bff;
}

@media (max-width:768px) {
    .fb-profile-text>h1 {
        font-weight: 700;
        font-size: 16px;
    }
    .fb-profile img.fb-image-lg {
        z-index: 0;
        width: 100%;
        height: 15rem;
    }
    .fb-image-profile {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%;
    }
}


/* PROFILE CSS ENDS */