{% extends 'base.html' %} {% load static %} {% block title %} Blog {% endblock %} {% block styles %} {% endblock %}


<!-- Block Body -->
{% block content %}
<section class="job-form-section job-form-section--compressed" style="background-image: linear-gradient(180deg, #05386B, #fffff5);">
    <div class="container">
        <h3 class="heading">Find a <span class="accent"> Blog</span> You Want To<span class="accent"> Read</span></h3>
        <form id="job-main-form" method="get" action="{% url 'blog:blog-search' %}" class="job-main-form">
            <div class="controls">
                <div class="row align-items-end">
                    <div class="col-sm-10 col-lg-10 form-group">
                        <label for="blog">Blog Title</label>
                        <input type="text" id="blog" name="blog" value="{{ blog }}" placeholder="Search By Title" class="form-control">
                    </div>
                    <div class="col-sm-1 col-lg-2 form-group">
                        <button type="submit" name="name" class="btn btn-outline-white-primary job-main-form__button">
                                <i class="fa fa-search"></i>
                            </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<div class="container-fluid pb-4 pt-4 paddding">
    <h3 class="heading">{{blogs.count}} <span class="accent">Results </span><span class="accent">Found</span></h3>
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">News</div>
                </div>
                {% for blog in blogs %}
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="{{ blog.image.url }}" alt="blog image" /></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7 animate-box">
                        <a href="{% url 'blog:blog-detail' blog.id %}" class="fh5co_magna py-2">
                            <h4>{{blog.title|truncatechars:60}}</h4>
                        </a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> {{blog.created_at|date}}</div>
                        <div class="fh5co_consectetur">
                            <p>{{blog.description|safe|truncatechars:420}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        {% if is_paginated %}
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-4 mb-4">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a href="?page={{ page_obj.previous_page_number }}" class="btn_pagging">&laquo;</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="btn_pagging">&laquo;</a>
                        </li>
                        {% endif %} {% for i in page_obj.paginator.page_range %} {% if page_obj.number == i %}
                        <li class="page-item active">
                            <a class="btn_pagging">{{ i }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a href="?page={{ i }}" class="btn_pagging">{{ i }}</a>
                        </li>
                        {% endif %} {% endfor %} {% if page_obj.has_next %}
                        <li class="page-item">
                            <a href="?page={{ page_obj.next_page_number }}" class="btn_pagging">&raquo;</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="btn_pagging">&raquo;</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        {% endif %}

    </div>
</div>
<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Featured</div>
        </div>
        <div class="owl-carousel owl-theme" id="slider2">
            {% for blog in featured %}
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img"><img src="{{blog.image.url}}" alt="" /></div>
                    <div>
                        <a href="{% url 'blog:blog-detail' blog.id %}" class="d-block fh5co_small_post_heading"><span class="">{{blog.title}}</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> {{blog.created_at|date}}</div>
                    </div>
                    <div class="row mx-0">

                        <p>{{blog.description|safe|truncatewords:40}}</p>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
</div>

{% endblock %}

<!-- JAVASCRIPT -->
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<!-- Waypoints -->
<script src="{% static 'blog/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'blog/js/owl.carousel.min.js' %}"></script>
<!-- Main -->
<script src="{% static 'blog/js/main.js' %}"></script>
<!-- Modernizr JS -->
<script src="{% static 'blog/js/modernizr-3.5.0.min.js' %}"></script>
{% endblock %}