{% extends 'base.html' %} {% block title %} Applicants {% endblock %} {% load static %} {% block content %}

<section class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h3 class="heading">All applicants who applied for your positions</h3>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            {% if applicants %} {% for applicant in applicants %}
            <div class="col-lg-6">
                <div class="box applicant">
                    <a href="{% url 'accounts:user-detail' applicant.user.id %}">
                        <h4>{{ applicant.user.get_full_name }}</h4>
                    </a>
                    <p><strong>Applied position: {{ applicant.job.title }}</strong></p>
                    <p>
                        <span class="badge badge-info">Applied {{ applicant.created_at.astimezone }}</span>
                    </p>
                    <a href="{% url 'accounts:employee-resume' applicant.user.id %}" class="btn btn-outline-white-secondary btn-sm" style="height: 2.5em;">
                        <i class="fa fa-envelope"></i>Download Cv
                    </a>

                    <div class="d-flex align-items-center">
                        {% if applicant.status == '0' %}
                        <a href="{% url 'jobs:select' applicant.id %}" class="btn btn-success">
                            <i class="fa fa-check"></i>
                            <span class="hidden-xs hidden-sm">Select</span>
                        </a>
                        <a href="{% url 'jobs:reject' applicant.id %}" class="btn btn-outline-white-danger">
                            <i class="fa fa-close"></i>
                            <span class="hidden-xs hidden-sm">Reject</span>
                        </a>
                        {% elif applicant.status == '1' %}
                        <a href="#" class="btn btn-success">
                            <i class="fa fa-check"></i>
                            <span class="hidden-xs hidden-sm">Selected</span>
                        </a>
                        {% else %}
                        <a href="#" class="btn btn-danger">
                            <i class="fa fa-check"></i>
                            <span class="hidden-xs hidden-sm">Rejected</span>
                        </a>
                        {% endif %}
                        <!-- <p class="intro"></p> -->
                        <div class="image">
                            <img src="{{ applicant.user.userprofile.image.url }}" alt="" class="img-fluid rounded-circle">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} {% if is_paginated %}
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-4 mb-4">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">&laquo;</a>
                            </li>
                            {% endif %} {% for i in page_obj.paginator.page_range %} {% if page_obj.number == i %}
                            <li class="page-item active">
                                <a class="page-link">{{ i }}</a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                            </li>
                            {% endif %} {% endfor %} {% if page_obj.has_next %}
                            <li class="page-item">
                                <a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">&raquo;</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            {% endif %} {% else %}
            <h3>No Applicants</h3>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}