<div class="row featured align-items-stretch">
    {% for job in jobs %}
    <div class="col-lg-3 mb-5 mb-lg-0">
        <div class="box-image-text bg-visible full-height">
            <!-- <div class="top">
                <a href="#">
                    <div class="image">
                        <img src="{% static 'img/featured1.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="bg"></div>
                    <div class="logo">
                        <img src="{% static 'img/company-1.png' %}" alt="" style="max-width: 80px;">
                    </div>
                </a>
            </div> -->
            <div class="content">
                <div>
                    <h5><a href="{% url 'jobs:jobs-detail' job.id %}">{{ job.title }}</a></h5>
                </div>
                <p class="featured__details"><i class="fa fa-map-marker job__location"></i> {{ job.location }} {% if job.type == '1' %}
                    <span class="badge featured-badge badge-success">Paid</span> {% elif job.type == '2' %}
                    <span class="badge featured-badge badge-primary">Unpaid</span> {% else %}
                    <span style="color: #ffffff;" class="badge featured-badge badge-warning">Paid</span> {% endif %}
                </p>
                <p><i class="fa fa-money"></i> {{ job.salary }}</p>
                <p><i class="fa fa-building"></i> {{ job.user.first_name }}</p>
                <a><button class="btn btn-outline-white-primary">Read More</button></a>
                <!-- <p>{{ job.description|safe|truncatechars:40 }}</p> -->
            </div>
        </div>
    </div>
    {% endfor %}
</div>