{% extends 'base.html' %} {% load static %} {% block title %} Home {% endblock %} {% block content %}


<section class="job-form-section job-form-section--image">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="job-form-box">
                    <h2 class="heading">Find The <span class="accent">Job</span> Of Your
                        <span class="accent">Dream</span>.
                    </h2>
                    <form id="job-main-form" method="get" action="{% url 'jobs:search' %}" class="job-main-form">
                        <div class="controls">
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="profession">Position</label>
                                        <input type="text" id="profession" name="position" placeholder="ex: Software Engineer" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="location">Location</label>
                                        <input type="text" id="location" name="location" placeholder="ex: Dhaka" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-outline-white-primary job-main-form__button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section style=" height: 10em; position: relative; top:0; background-image: linear-gradient(180deg, #05386B, #fffff5);">
</section>
<section class="bg-light-gray">
    <div class="container">
        <h4 class="heading">Browse By Categories</h4>
        <!-- Categories Starts -->
        <div class="row featured align-items-stretch">
            {% for cat in categories %}
            <div class="col-lg-3 mb-5 mb-lg-0">
                <div class="box-image-text bg-visible full-height">
                    <div class="content">
                        <div>
                            <img src="{{cat.logo.url}}" alt="Cat Logo" style="height: 100px;">
                        </div>
                        <hr>
                        <div>
                            <h5><a href="{% url 'jobs:filter-jobs' cat.id %}">{{ cat.name }}</a></h5>
                        </div>
                        <!-- <p><i class="fa fa-money"></i></p> -->

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Categories Ends -->
    </div>
</section>
<!-- BROWSE BY COMPANIES -->
<section class="bg-light-gray">
    <div class="container">
        <h4 class="heading">Browse By Company</h4>
        <!-- Categories Starts -->
        <div class="row featured align-items-stretch">
            {% for employer in employers %}
            <div class="col-lg-3 mb-5 mb-lg-0">
                <div class="box-image-text bg-visible full-height">
                    <div class="content">
                        <div>
                            <img src="{{employer.userprofile.image.url}}" alt="Company Logo" style="height: 100px; width: 100px;">
                        </div>
                        <hr>
                        <div>
                            {% if request.user.is_authenticated and request.user == employer %}
                            <!-- <h5><a href="{% url 'jobs:company-jobs' employer.id %}">{{ employer.first_name }}{{employer.last_name}}</a></h5> -->
                            <h5><a href="{% url 'accounts:my-profile' %}">{{ employer.first_name }}{{employer.last_name}}</a></h5>
                            {% else %}
                            <h5><a href="{% url 'accounts:user-detail' employer.id %}">{{ employer.first_name }}{{employer.last_name}}</a></h5>{% endif %}
                        </div>
                        <!-- <p><i class="fa fa-money"></i></p> -->

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Categories Ends -->
    </div>
</section>
<!-- BROWSE BY COMPANIES ENDS -->
<section>
    <div class="container">
        <h4 class="heading">Trending this month</h4>
        {% for trending in trendings %}
        <div class="job-listing  job-listing--last">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="row">
                        <div class="col-2">
                            <img src="{{trending.user.userprofile.image.url}}" alt="ShareBoardd " class="img-fluid">
                        </div>
                        <div class="col-8">
                            <h4 class="job__title">
                                <a href="{% url 'jobs:jobs-detail' trending.id %}">{{ trending.title }}</a>
                            </h4>
                            {% if request.user.is_authenticated and request.user == trending.user %}
                            <a href="{% url 'accounts:my-profile' %}">
                                <p class="job__company">
                                    <i class="fa fa-building"></i> {{ trending.user.first_name }}
                                </p>
                            </a>
                            {% else %}
                            <a href="{% url 'accounts:user-detail' trending.user.id %}">
                                <p class="job__company">
                                    <i class="fa fa-building"></i> {{ trending.user.first_name }}
                                </p>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-10 col-md-4 col-lg-2 ml-auto featured__details"><i class="fa fa-map-marker job__location"></i> {{ trending.location }}
                </div>
                <div class="col-10 col-md-3 col-lg-3 ml-auto featured__details">
                    <p>Posted {{ trending.created_at|timesince }}</p>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-1">
                    <div class="job__star">
                        {% if trending.type == '1' %}
                        <span class="badge featured-badge badge-success">Paid</span> {% elif trending.type == '2' %}
                        <span class="badge featured-badge badge-primary">Unpaid</span> {% else %}
                        <span style="color: #ffffff;" class="badge featured-badge badge-warning">Remote</span> {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- <section style="background-image: url({% static 'img/startup.jpg' %}) " class="section-divider">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Start searching for your new job now! </p>
                <p><a href="{% url 'jobs:jobs' %}" class="btn btn-outline-light">See our job offers </a></p>
            </div>
        </div>
    </div>
</section> -->

{% endblock %}