{% extends 'base.html' %} {% load static %} {% block title %} All Companies {% endblock %} {% block content %}

<section class="job-form-section job-form-section--compressed" style="background-image: linear-gradient(180deg, #05386B, #fffff5);">
    <div class="container">
        <h3 class="heading">Find a <span class="accent">job </span> you will <span class="accent">love</span></h3>
        <form id="job-main-form" method="get" action="#" class="job-main-form">
            <div class="controls">
                <div class="row align-items-end" style="align-items: center;">
                    <div class="col-sm-1 col-lg-2"></div>
                    <div class="col-sm-5 col-lg-4 form-group">
                        <label for="profession">Profession</label>
                        <input type="text" id="profession" name="profession" placeholder="ex: Software Engineer" class="form-control">
                    </div>
                    <div class="col-sm-5 col-lg-4 form-group">
                        <label for="location">Location</label>
                        <input type="text" id="location" name="location" placeholder="ex: Dhaka" class="form-control">
                    </div>
                    <div class="col-sm-1 col-lg-2 form-group">
                        <button type="submit" name="name" class="btn btn-outline-white-primary job-main-form__button">
                                <i class="fa fa-search"></i>
                            </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<section>
    <div class="container">
        <h3 class="heading">Jobs,You Have Applied For<span class="accent"></span></h3>
        {% for job in applied_jobs %}
        <div class="job-listing  job-listing--last">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="row">
                        <div class="col-2">
                            <img src="{{job.job.user.userprofile.image.url}}" alt="ShareBoardd " class="img-fluid">
                        </div>
                        <div class="col-8">
                            <h4 class="job__title">
                                <a href="{% url 'jobs:jobs-detail' job.job.id %}">{{ job.job.title }}</a>
                            </h4>
                            <!-- {% if request.user.is_authenticated and request.user == job.user %}
                            <a href="{% url 'accounts:my-profile' %}">
                                <p class="job__company">
                                    <i class="fa fa-building"></i> {{ job.company_name }}
                                </p>
                            </a>
                            {% else %}
                            <a href="{% url 'accounts:user-detail' trending.user.id %}">
                                <p class="job__company">
                                    <i class="fa fa-building"></i> {{ job.company_name }}
                                </p>
                            </a>
                            {% endif %} -->
                        </div>
                    </div>
                </div>
                <div class="col-8 col-md-3 col-lg-2 ml-auto featured__details"><i class="fa fa-map-marker job__location"></i> {{ job.job.location }}
                </div>
                <div class="col-8 col-md-3 col-lg-2 ml-auto featured__details">
                    <p>Posted {{ job.job.created_at|timesince }}</p>
                </div>
                <!-- <div class="col-sm-6 col-md-1 col-lg-1">
                    <div class="job__star">
                        {% if job.status == '1' %}
                        <span class="badge featured-badge badge-success">Received</span> {% elif job.status == '2' %}
                        <span class="badge featured-badge badge-primary">Selected</span> {% else %}
                        <span style="color: #ffffff;" class="badge featured-badge badge-warning">Rejected</span> {% endif %}
                    </div>
                </div> -->
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <div class="job__star" style="margin-top:-1em;">
                        {% if job.job.type == '1' %}
                        <span class="badge featured-badge badge-success">Paid</span> {% elif job.job.type == '2' %}
                        <span class="badge featured-badge badge-primary">Unpaid</span> {% else %}
                        <span style="color: #ffffff;" class="badge featured-badge badge-warning">Negotiable</span> {% endif %}
                    </div>
                    <br>
                    <div class="job__star">
                        {% if job.status == '1' %}
                        <span class="badge featured-badge badge-success">Selected</span> {% elif job.status == '2' %}
                        <span class="badge featured-badge badge-primary">Rejected</span> {% else %}
                        <span style="color: #ffffff;" class="badge featured-badge badge-warning">Pending</span> {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} {% if is_paginated %}
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-4 mb-4">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">&laquo;</a>
                        </li>
                        {% endif %} {% for i in page_obj.paginator.page_range %} {% if page_obj.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                        </li>
                        {% endif %} {% endfor %} {% if page_obj.has_next %}
                        <li class="page-item">
                            <a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">&raquo;</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}